@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,700&display=swap');


body{
  margin: 0;
  background-color: black;
}



@media (max-width: 428px) {



  .encabezado1 {
    display: flex;
    text-align: left;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 10px;
    font-size: 18px;
    color: white;
    font-family: 'Pirata One', cursive;
    visibility: visible;
  }


  .imgLogo{
    height: 50px;
  }

  .iconoMenu{
    height: 40px;
    width: 40px;
    margin-left: 240px;
    margin-top: 10px;
  }


  .encabezado2 {
    font-size: 52px;
    text-align: center;
    color: white;
    font-family: 'Pirata One', cursive;
    margin-top: -50px;
  }

  .texto1{
    font-size: 18px;
    text-align: center;
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    margin-top: -30px;
  }

  .boton-cta{
  background-color: #D2273E;
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: bold;
  font-size: 24px;
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  }

.seccion2{
  margin-top: 90px;
}

  .encabezado3 {
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: 'Pirata One', cursive;
    margin-top: 0px;
  }


.texto2{
  text-align: left;
  color: white;
  font-size: 24px;
  font-family: 'Roboto Flex', sans-serif;
  display: block;
  margin-right: 50px;
  margin-left: 50px;

}

.encabezado4 {
  font-size: 50px;
  text-align: center;
  color: white;
  font-family: 'Pirata One', cursive;
  margin-top: 100px;
}

.encabezado5{
  display: flex;
  margin-left: 120px;
}

.hechoAMano{
  display: flex;
  margin-top: 0px;
  margin-left: 120px;
  text-align: center;
  font-size: 36px;
  color: white;
  font-family: 'Pirata One', cursive;
}


.calidad{
  display: flex;
  margin-left: 180px;
  margin-top: 0px;
  text-align: center;
  font-size: 36px;
  color: white;
  font-family: 'Pirata One', cursive;
}

.personalizable{
  display: flex;
  margin-left: 120px;
  margin-top: 0px;
  text-align: center;
  font-size: 36px;
  color: white;
  font-family: 'Pirata One', cursive;
}

.texto3{
  text-align: left;
  margin-left: 70px;
  margin-top: -40px;
  margin-bottom: 70px;
  color: white;
  font-size: 22px;
  font-family: 'Roboto Flex', sans-serif;
}

.cadena{
  margin-top: -50px;
}

.encabezado6 {
  margin-top: -50px;
  font-size: 50px;
  text-align: center;
  color: white;
  font-family: 'Pirata One', cursive;
}

.texto4{
  text-align: left;
  color: white;
  font-size: 22px;
  font-family: 'Roboto Flex', sans-serif;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 40px;
}

.cadena1{
  margin-top: 100px;
}

.encabezado7{
  font-size: 50px;
  text-align: center;
  color: white;
  font-family: 'Pirata One', cursive;
}



.formulario{
  background-color: #2F2F2F;
  padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.texto5{
  text-align: left;
  color: white;
  font-size: 18px;
  font-family: 'Roboto Flex', sans-serif;
  margin-left: 15px;
  padding: 10px;
}


.row1{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: 'Roboto Flex', sans-serif;
}


.boton-enviar{
background-color: #D2273E;
border: none;
color: white;
padding: 10px 100px;
text-align: center;
font-family: 'Roboto Flex', sans-serif;
font-weight: bold;
font-size: 22px;
display: block;
margin-top: 30px;
margin-right: auto;
margin-left: auto;
}

.page-footer{
  font-size: 16px;
  font-family: 'Roboto Flex', sans-serif;
}

.columna{
  display: flex;
  text-align: left;
}

.text1{
  display: flex;
  font-size: 48px;
  font-family: 'Pirata One', cursive;
  color: white;
  text-align: center;
  margin-left: 50px;
}

.text2{
  font-size: 16px;
  color: white;
  margin-top: 50px;
  margin-right: 100px;
  margin-left: -100px;
}

.imgLogo2{
  width: 81px;
  height: 70px;
}

.columna2{
  display: flex;
  text-align: left;
}

.text3{
  font-size: 24px;
  color: white;
}

.fbLogo{
  margin-top: 70px;
  margin-left: -170px;
}


.instaLogo{
  margin-top: -80px; 
  margin-left: -170px;
  margin-bottom: 120px;
}


.twLogo{
  margin-top: -155px;
  margin-left: -170px;
  margin-bottom: -20px;
}


.select-wrapper input.select-dropdown {
  font-size: 16px;
  font-family: 'Roboto Flex', sans-serif;
  color: #AEAEAE;
}

.svg.caret{
    fill: rgb(117 117 117 / 87%);
}


}

 @media (min-width: 428px) and (max-width: 1440px) {

.claseMobile{
  display: none;
}

.claseDesktop{
  display: inline-block;
}






}
