@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,700&display=swap');


body{
  margin: 0;
  background-color: black;
}


@media (max-width: 428px) {

/*QUE NO SE VEA*/

.encabezado1-D{
  display: none;
  visibility: hidden;
}

.imgLogoNombre{
  display: none;
visibility: hidden;
}

.encabezado2-D{
  display: none;
  visibility: hidden;
}

.imgChica1-D{
  display: none;
  visibility: hidden;
}

.texto1-D{
  display: none;
  visibility: hidden;
}

.continuar{
  display: none;
  visibility: hidden;
}

.imgFlecha{
  display: none;
  visibility: hidden;
}

.encabezado3-D{
  display: none;
  visibility: hidden;
}

.texto2-D{
  display: none;
  visibility: hidden;
}

.encabezado4-D{
  display: none;
  visibility: hidden;
}

.encabezado5-D{
  display: none;
  visibility: hidden;
}

.texto3-D{
  display: none;
  visibility: hidden;
}

.hechoAMano-D{
  display: none;
  visibility: hidden;
}

.calidad-D{
  display: none;
  visibility: hidden;
}

.personalizable-D{
  display: none;
  visibility: hidden;
}

.cadena-D{
  display: none;
  visibility: hidden;
}

.encabezado6-D{
  display: none;
  visibility: hidden;
}

.texto4-D{
  display: none;
  visibility: hidden;
}

.chicaP-D1{
  display: none;
  visibility: hidden;
}

.chicaP-D2{
  display: none;
  visibility: hidden;
}

.chicaP-D3{
  display: none;
  visibility: hidden;
}

.puntos{
  display: none;
  visibility: hidden;
}

.encabezado7-D{
  display: none;
  visibility: hidden;
}


.formulario-D{
  display: none;
  visibility: hidden;
}

.texto5-D{
  display: none;
  visibility: hidden;
}

.row1-D{
  display: none;
  visibility: hidden;
}

.cadena1-D{
  display: none;
  visibility: hidden;
}

.flechaIzq{
  display: none;
  visibility: hidden;
}

.flechaDer{
  display: none;
  visibility: hidden;
}

.columnaD{
  display: none;
  visibility: hidden;
}

.logoDesk{
  display: none;
  visibility: hidden;
}

.texto1D{
  display: none;
  visibility: hidden;
}

.columnaD2{
  display: none;
  visibility: hidden;
}

.columnaD3{
  display: none;
  visibility: hidden;
}

.columnaD4{
  display: none;
  visibility: hidden;
}

.copyD{
  display: none;
  visibility: hidden;
}

/*QUE SE VEA*/
  .encabezado1-M{
    display: flex;
    text-align: left;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 10px;
    font-size: 18px;
    color: white;
    font-family: 'Pirata One', cursive;
  }


  .imgLogo{
    height: 50px;
  }

  .iconoMenu{
    height: 40px;
    width: 40px;
    margin-left: 240px;
    margin-top: 10px;
  }


  .encabezado2 {
    font-size: 52px;
    text-align: center;
    color: white;
    font-family: 'Pirata One', cursive;
    margin-top: -50px;
  }

  .texto1{
    font-size: 18px;
    text-align: center;
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    margin-top: -30px;
  }

  #boton-cta{
  background-color: #D2273E;
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: bold;
  font-size: 24px;
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  }

.seccion2{
  margin-top: 90px;
}

  .encabezado3 {
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: 'Pirata One', cursive;
    margin-top: 0px;
  }


.texto2{
  text-align: left;
  color: white;
  font-size: 24px;
  font-family: 'Roboto Flex', sans-serif;
  display: block;
  margin-right: 50px;
  margin-left: 50px;

}

.encabezado4 {
  font-size: 50px;
  text-align: center;
  color: white;
  font-family: 'Pirata One', cursive;
  margin-top: 100px;
}

.encabezado5{
  display: flex;
  margin-left: 120px;
}

.hechoAMano{
  display: flex;
  margin-top: 0px;
  margin-left: 120px;
  text-align: center;
  font-size: 36px;
  color: white;
  font-family: 'Pirata One', cursive;
}


.calidad{
  display: flex;
  margin-left: 180px;
  margin-top: 0px;
  text-align: center;
  font-size: 36px;
  color: white;
  font-family: 'Pirata One', cursive;
}

.personalizable{
  display: flex;
  margin-left: 120px;
  margin-top: 0px;
  text-align: center;
  font-size: 36px;
  color: white;
  font-family: 'Pirata One', cursive;
}

.texto3{
  text-align: left;
  margin-left: 70px;
  margin-top: -40px;
  margin-bottom: 70px;
  color: white;
  font-size: 22px;
  font-family: 'Roboto Flex', sans-serif;
}

.cadena{
  margin-top: -50px;
}

.encabezado6 {
  margin-top: -50px;
  font-size: 50px;
  text-align: center;
  color: white;
  font-family: 'Pirata One', cursive;
}

.texto4{
  text-align: left;
  color: white;
  font-size: 22px;
  font-family: 'Roboto Flex', sans-serif;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 40px;
}

.cadena1{
  margin-top: 100px;
}

.encabezado7{
  font-size: 50px;
  text-align: center;
  color: white;
  font-family: 'Pirata One', cursive;
}



.formulario{
  background-color: #2F2F2F;
  padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}


.texto5{
  text-align: left;
  color: white;
  font-size: 18px;
  font-family: 'Roboto Flex', sans-serif;
  margin-left: 15px;
  padding: 10px;
}


.row1{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: 'Roboto Flex', sans-serif;
}


#boton-form{
background-color: #D2273E;
border: none;
color: white;
padding: 10px 100px;
text-align: center;
font-family: 'Roboto Flex', sans-serif;
font-weight: bold;
font-size: 22px;
display: block;
margin-top: 30px;
margin-right: auto;
margin-left: auto;
}

/* POP UP */


#seccion-feedback{
  background-color: red;
}

.mostrar{
  display: flex;
}

.no-mostrar{
  display: none !important;
}

.fondo-popup{
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgba(172, 172, 172, 0.75);
  align-items: center;
}

.popup{
  width: 364px;
  max-height: 466px;
  color: white;
}

/* POP UP FIN*/

.columna{
  display: flex;
  text-align: left;
}

.imgLogo2{
  width: 81px;
  height: 70px;
  margin-left: 60px;
}


.text1{
  display: flex;
  font-size: 48px;
  font-family: 'Pirata One', cursive;
  color: white;
  text-align: center;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
}


.columna2{
  display: flex;
  text-align: center;
}

.text2{
  font-size: 22px;
  color: white;
  margin-top: 30px;
  margin-left: 120px;
}

.fbLogo{
  margin-top: 80px;
  margin-left: -155px;
  margin-right: 30px;
  height: 32px;
  width: 32px;
}


.instaLogo{
  margin-top: 80px;
  margin-left: 0px;
  margin-right: 30px;
  height: 32px;
  width: 32px;
}


.twLogo{
  margin-top: 80px;
  margin-left: 0px;
  margin-right: 30px;
  height: 32px;
  width: 32px;
}

.copyright{
  margin-left: 160px;
}


.select-wrapper input.select-dropdown {
  font-size: 16px;
  font-family: 'Roboto Flex', sans-serif;
  color: #AEAEAE;
}

.svg.caret{
    fill: rgb(117 117 117 / 87%);
}


}

 @media (min-width: 429px) and (max-width: 1440px) {

   /*QUE NO*/
   .encabezado1-M{
     visibility: hidden;
   }

   .imgChica1-M{

     visibility: hidden;
   }

   .texto1{

     visibility: hidden;
   }

   .boton-cta{
     visibility: hidden;
   }

   .imgGrupo{
     visibility: hidden;
   }

   .encabezado4{
     visibility: hidden;
   }

   .hechoAMano{
     visibility: hidden;
   }

   .texto3{
     visibility: hidden;
   }

   .calidad{
     visibility: hidden;
   }

   .personalizable{
     visibility: hidden;
   }

   .encabezado5{
     visibility: hidden;
   }

   .cadena{
     visibility: hidden;
   }

   .carousel{
     display: none;
     visibility: hidden;
   }

   .cadena1{
     visibility: hidden;
   }

   .seccion-6{
     display: none;
     visibility: hidden;
   }

   .formulario{
     display: none;
     visibility: hidden;
   }

   .fondo-popup{
     visibility: hidden;
   }

   .encabezado7{
     display: none;
     visibility: hidden;
   }

   .columna{
     visibility: hidden;
   }

   .text1{
     visibility: hidden;
   }

   .columna2{
     visibility: hidden;
   }

 .container{
  display: none;
  visibility: hidden;
  }

   .footer-copyright{
     display: none;
     visibility: hidden;
   }

   .copyright{
     display: none;
     visibility: hidden;
   }







/*QUE SE VEA*/


.encabezado1-D{
  display: flex;
  font-size: 22px;
  font-family: 'Roboto Flex', sans-serif;
  color: white;
}

.encabezado1-D p{
  margin-top: -50px;
  margin-left: 80px;
  margin-right: -20px;
}

.imgLogoNombre{
  margin-left: 60px;
  margin-top: -90px;
  height: 100px;
}

.encabezado2-D{
  font-size: 80px;
  text-align: left;
  color: white;
  font-family: 'Pirata One', cursive;
  margin-top: -580px;
  margin-left: 90px;
}

.imgChica1-D{
  display: flex;
  margin-left: 640px;
  margin-top: -600px;
}

.texto1-D{
  font-size: 24px;
  text-align: left;
  color: white;
  font-family: 'Roboto Flex', sans-serif;
  margin-top: -600px;
  margin-left: 90px;
}

#boton-cta-D{
  background-color: #D2273E;
  border: none;
  color: white;
  padding: 20px 40px;
  text-align: center;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: bold;
  font-size: 26px;
  margin-top: 30px;
}

.continuar{
  font-family: 'Pirata One', cursive;
  text-align: center;
  color: white;
  font-size: 40px;
  margin-top: 290px;
}

.imgFlecha{
  margin-left: 700px;
  margin-top: -50px;
}

.encabezado3-D{
  display: flex;
}

.encabezado3-D p{
  display: flex;
  color: white;
  font-size: 64px;
  font-family: 'Pirata One', cursive;
  margin-left: 150px;
  margin-top: -460px;
}

.imgGrupoD{
  margin-top: -500px;
}

.texto2-D{
  font-size: 36px;
  font-family: 'Roboto Flex', sans-serif;
  color: white;
  text-align: left;
  margin-left: 800px;
  margin-top: -650px;
}

.encabezado4-D{
  font-size: 64px;
  text-align: center;
  color: white;
  font-family: 'Pirata One', cursive;
  margin-top: -900px;
}

.encabezado5-D{
  display: flex;
  text-align: left;
}

.col{
    padding: 50px;
    margin-left: 150px;
    margin-top: 40px;
    align-items: center;
}

.imgPersonalizableD{
  margin-left: 10px;
}

.hechoAMano-D{
  font-size: 40px;
  text-align: center;
  color: white;
  font-family: 'Pirata One', cursive;
  margin-left: -20px;
}

.texto3-D{
  font-size: 30px;
  font-family: 'Roboto Flex', sans-serif;
  color: white;
  text-align: left;
  margin-left: -10px;
}

.calidad-D{
  font-size: 40px;
  margin-left: -40px;
  text-align: center;
  color: white;
  font-family: 'Pirata One', cursive;
}

.personalizable-D{
  font-size: 40px;
  text-align: center;
  color: white;
  font-family: 'Pirata One', cursive;
  margin-left: -5px;
}

.encabezado6-D{
  font-size: 64px;
  text-align: center;
  color: white;
  font-family: 'Pirata One', cursive;
}

.texto4-D{
  font-size: 30px;
  font-family: 'Roboto Flex', sans-serif;
  color: white;
  text-align: center;
}

.flechaIzq{
  margin-top: -200px;
  margin-bottom: 200px;
}

.chicaP-D1{
  margin-left: 100px;
}

.chicaP-D2{
  margin-left: 160px;
}

.puntos{
  margin-left: 240px;
  margin-top: 100px;
}

.chicaP-D3{
  margin-left: 220px;
}

.flechaDer{
  margin-top: -200px;
  margin-bottom: 200px;
  margin-left: 600px;
}


.encabezado7-D{
  font-size: 64px;
  text-align: center;
  color: white;
  font-family: 'Pirata One', cursive;
}


.formulario-D{
  background-color: #2F2F2F;
  padding: 100px;
  margin-left: 380px;
  width: 700px;
}

.texto5-D p{
  font-size: 24px;
  font-family: 'Roboto Flex', sans-serif;
  color: white;
  text-align: left;
  margin-left: 50px;
  margin-top: 0px;
}


input[type=text]:not(.browser-default).validate+label{
  font-family: 'Roboto Flex', sans-serif;
  font-size: 20px;
}

input[type=email]:not(.browser-default).validate+label{
  font-family: 'Roboto Flex', sans-serif;
  font-size: 20px;
}

.select-wrapper input.select-dropdown {
  font-size: 20px;
  font-family: 'Roboto Flex', sans-serif;
  color: #AEAEAE;
}

#boton-form-D{
background-color: #D2273E;
border: none;
color: white;
padding: 10px 220px;
text-align: center;
font-family: 'Roboto Flex', sans-serif;
font-weight: bold;
font-size: 22px;
display: block;
margin-top: 50px;
margin-right: auto;
margin-left: auto;
}

.page-footer{
  position: relative;
  bottom: 0;
  height: 500px;
}

.columnaD{
  display: inline-flex;
  margin-left: 80px;
  margin-bottom: 100px;
}

.logoDesk{
  margin-top: 20px;
  margin-bottom: 0px;
  height: 82px;
}

.texto1D{
  font-size: 40px;
  color: white;
  font-family: 'Pirata One', cursive;
  margin-bottom: 0px;
  margin-top: 45px;
  margin-left: 10px;
}

.columnaD2{
  display: inline-flex;
  margin-left: 600px;
  margin-bottom: 200px;
}

.redes{
  color: white;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: bold;
  font-size: 22px;
  margin-right: 70px;
}

.contacto{
  color: white;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: bold;
  font-size: 22px;
}

.columnaD3{
margin-top: -200px;
}

.redesImg{
  margin-left: 910px;
}

.columnaD4{
  margin-top: -55px;
}

.columnaD4 p {
  margin-left: 1130px;
  color: white;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 22px;
}

.copyD{
  color: white;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  margin-left: 100px;
  margin-top: 100px;
}


}
