@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');


.contenedor-u1{
  width: 600px;
  background-color: white;
  margin: 50px auto 50px auto;
  padding: 50px;
  box-shadow: 0rem 1.75rem 2rem 0rem #bdbdbd;
}

.cabeza-u1{
  padding: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: black;
}

.obra-1{
  font-family: 'Arial', sans-serif;
  color: black;
  text-align: left;
}
