@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

body{
  background-color: #D6D6D6;
}

.contenedor-u2{
  width: 600px;
  background-color: white;
  margin: 50px auto 50px auto;
  padding: 50px;
  box-shadow: 0rem 1.75rem 2rem 0rem #bdbdbd;
}

.cabeza-u2{
  padding: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: black;
}

.calle1-u2{
  display: flex;
  padding: 0px 30px 0px 0px;
}

.col1-u2{
  padding: 20px;
  margin-left: 20px;
}

.col2-u2{
  padding: 20px;
}

.col1-u2 p{
  font-family: 'Arial', sans-serif;
  text-align: left;
  font-size: 14px;
  line-height: 1.5;
}

.col2-u2 p{
  font-family: 'Arial', sans-serif;
  text-align: center;
  font-size: 12px;
}

.calle2-u2{
  padding: 0px 40px 0px 40px;
  margin-top: -20px;
}

.texto1-u2{
  font-family: 'Arial', sans-serif;
  text-align: left;
  font-size: 14px;
  line-height: 1.5;
}

.calle3-u2{
  display: flex;
  padding: 0px 30px 0px 0px;
}

.col3-u2{
  padding: 20px;
  margin-left: 20px;
}

.col3-u2 img:hover{
  transform: scale(1.030);
  transition: transform 0.25s ease, filter 0.25s ease;
}

.col3-u2 p{
  font-family: 'Arial', sans-serif;
  text-align: center;
  font-size: 12px;
}

.col4-u2{
  padding: 20px;
}

.col4-u2 p{
  font-family: 'Arial', sans-serif;
  text-align: left;
  font-size: 14px;
  line-height: 1.5;
}

.calle4-u2{
  padding: 0px 40px 0px 40px;
  margin-top: -20px;
}

.texto2-u2{
  font-family: 'Arial', sans-serif;
  text-align: left;
  font-size: 14px;
  line-height: 1.5;
}

.calle5-u2{
  display: flex;
  padding: 0px 30px 0px 0px;
}

.col5-u2{
  padding: 20px;
  margin-left: 20px;
}

.col6-u2{
  padding: 20px;
}

.col6-u2 img:hover{
  transform: scale(1.030);
  transition: transform 0.25s ease, filter 0.25s ease;
}

.col5-u2 p{
  font-family: 'Arial', sans-serif;
  text-align: left;
  font-size: 14px;
  line-height: 1.5;
}

.col6-u2 p{
  font-family: 'Arial', sans-serif;
  text-align: center;
  font-size: 12px;
}

.calle6-u2{
  padding: 0px 40px 0px 40px;
  margin-top: -20px;
}

.texto3-u2{
  font-family: 'Arial', sans-serif;
  text-align: left;
  font-size: 14px;
  line-height: 1.5;
}

.boton-volver-u2{
  margin-top: 30px;
  text-align: center;
}

.boton-volver-u2 a{
  background-color: black;
  color: white;
  box-shadow: 0px 1px 20px 1px #bdbdbd;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
  padding: 10px;
}
